<!DOCTYPE html>
<!--Stable and Valid. 30/07/2016.-->
<html data-ng-app="principal" data-ng-controller="MainCtrl" lang="en">
  <head>
    <link href="pablo.jpg" rel="icon">
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A website to showcase my programs.">
    <title>Pablo Ivan G. Soto</title>
    
    <link href="stylesheets/w3.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    
    <script>
      (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
          (i[r].q = i[r].q || []).push(arguments)
        },
        i[r].l = 1 * new Date();
        a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
      ga('create', 'UA-67193166-1', 'auto');
      ga('send', 'pageview');
    </script>
    
    <style>
      body, h2, h3, h4, h5, h6 {
        font-family: "Lato", sans-serif;
      }
      button, h1, .w3-navbar {
        font-family: "Montserrat", sans-serif;
      }
      #header-img {
        height: 160px;
        width: 170px;
      }
      #mobile {
        margin-top: 51px;
      }
    </style>
  </head>
  <body>
    <!--desktop navbar-->
    <ul class="w3-card-4 w3-large w3-left-align w3-navbar w3-teal w3-top">
      <li class="w3-hide-large w3-hide-medium w3-opennav w3-right">
        <a class="w3-hover-white w3-large w3-padding-large w3-teal" href="javascript:void(0);" onclick="toogle()">
          <i class="fa fa-bars"></i>
        </a>
      </li>
      <li>
        <a class="w3-padding-large w3-white" href="javascript:void(0);">
          <i class="fa fa-home"></i>
        </a>
      </li>
      <li class="w3-hide-small">
        <a class="w3-hover-white w3-padding-large" href="http://pablo-ivan.github.io/Alpha-System/en">
          Alpha
        </a>
      </li>
      <li class="w3-hide-small">
        <a class="w3-hover-white w3-padding-large" href="https://pablo-ivan.github.io/Diplomacy/en">
          Diplomacy
        </a>
      </li>
      <li class="w3-hide-small">
        <a class="w3-hover-white w3-padding-large" href="https://pablo-ivan.github.io/Predictive-Game/en">
          Pong
        </a>
      </li>
      <li class="w3-hide-small">
        <a class="w3-hover-white w3-padding-large" href="https://pablo-ivan.github.io/Recursive-Game/en">
          Toe
        </a>
      </li>
      
      <li class="w3-hide-small w3-right">
        <a class="w3-hover-white w3-padding-large" href="blog/posts.html">
          Blog
        </a>
      </li>
    </ul>
    <!--end desktop navbar-->
    
    <!--mobile navbar-->
    <div id="mobile" class="w3-card-4 w3-hide w3-hide-large w3-hide-medium w3-top">
      <ul class="w3-large w3-left-align w3-navbar w3-teal">
        <li>
          <a class="w3-padding-large" href="http://pablo-ivan.github.io/Alpha-System/en">
            Alpha
          </a>
        </li>
        <li>
          <a class="w3-padding-large" href="https://pablo-ivan.github.io/Diplomacy/en">
            Diplomacy
          </a>
        </li>
        <li>
          <a class="w3-padding-large" href="https://pablo-ivan.github.io/Predictive-Game/en">
            Pong
          </a>
        </li>
        <li>
          <a class="w3-padding-large" href="https://pablo-ivan.github.io/Recursive-Game/en">
            Toe
          </a>
        </li>
        
        <li>
          <a class="w3-padding-large" href="blog/posts.html">
            Blog
          </a>
        </li>
      </ul>
    </div>
    <!--end mobile navbar-->
    
    <!--header-->
    <div class="w3-blue w3-center w3-container w3-padding-64">
      <div class="w3-padding-64">
        <h1 class="w3-jumbo w3-margin">Pablo Ivan G. Soto</h1>
        <img alt="Pablo Ivan" class="w3-card-2 w3-hide-small w3-round" id="header-img" src="pablo.jpg">
        <p class="w3-center w3-xlarge">Web Development <br> Site</p>
        
        <a href="../">
          <button class="w3-border-teal w3-bottombar w3-btn w3-hover-cyan w3-large w3-leftbar w3-margin-top w3-padding-xlarge w3-white">
            Español
          </button>
        </a>
        <a href="javascript:void(0);">
          <button class="w3-border-teal w3-bottombar w3-btn w3-hover-cyan w3-large w3-leftbar w3-margin-top w3-padding-xlarge w3-ripple w3-white">
            English
          </button>
        </a>
      </div>
    </div>
    <!--end header-->
    
    <!--about-->
    <div class="w3-container w3-light-grey w3-padding-64 w3-row-padding">
      <div class="w3-content">
        <div class="w3-one">
          <h2 class="w3-blue w3-border-teal w3-center w3-leftbar w3-rightbar">About</h2>
          <input class="w3-border-blue w3-center w3-input w3-round w3-text-teal" 
                data-ng-model="$storage.nombre" id="name-input" maxlength="15" placeholder="Your First Name">
          <input class="w3-border-blue w3-center w3-input w3-round w3-text-teal"
                data-ng-model="$storage.edad" id="age-input" maxlength="3" placeholder="Your Age">
          
          <p class="w3-text-grey">
            Be welcomed to my website,
            <span data-ng-bind="$storage.nombre.toLowerCase().capitalize() || 'user'"></span>.
            This is a place to showcase my programs.
            I leave at your disposal my web development projects.
            <span data-ng-bind="$storage.nombre.toLowerCase().capitalize() || 'User'"></span>,
            have you noticed that as you wrote your name, the page was updating? Impressive, right?
            The chat feature has been developed with Firebase.
            
            In case you are ignoring the obvious, my name is Pablo Ivan G. Soto, I am 14 years old.
            I am experienced in technologies like HTML5, CSS3, JavaScript 
            and some frameworks like AngularJS, Angular 2 and Polymer.
            I am an avid reader, I am passionate about History, Literature and Mathematics.
            I love Renaissance art, I am a follower of the Baroque and Classicist Music,
            my favorite composer is undoubtedly Schubert.
            
            As for literature, my favorite authors are Dante Alighieri and Miguel de Cervantes; 
            in terms of modern literature, I enjoy a good mystery novel or detective genre.
            Edgar Allan Poe, Agatha Christie and sir Arthur Conan Doyle are all great examples.
            Let's put aside my biography and move on to the purpose of the site. Web Development!
          </p>
        </div>
      </div>
    </div>
    <!--end about-->
    
    <!--portfolio-->
    <div class="w3-container w3-padding-32 w3-row-padding">
      <div class="w3-content">
        <div class="w3-two">
          <h2 class="w3-blue w3-border-teal w3-center w3-leftbar w3-rightbar">Portfolio</h2>
          
          <h4>
            <a class="w3-hover-text-blue w3-text-teal" href="https://pablo-ivan.github.io/Alpha-System/en">
              Alpha System
            </a>
          </h4>
          <p class="w3-text-grey">
            Alpha is a neuronal system written in AIML. 
            Basically assimilates human language and makes it an indictable command.
            The language AIML (Artificial Intelligence Markup Language) is an extension of HTML, 
            the same in which the web is written. It is called markup language because all the instruccions 
            go between labels, differentiating a full programming language.
            Its core is based on a category > pattern > response relationship, 
            with the pattern being what the user types. Alpha responses are in English for accessibility purposes. 
            Here are some examples of code in AIML:
          </p>
          <pre class="w3-border-teal w3-card-2 w3-code w3-leftbar w3-rightbar w3-text-blue">
<code>&lt;&#63;xml version=&#8220;1.0&#8221; encoding=&#8220;UTF&#8211;8&#8221;&#63;&gt;
&#32;&#32;&lt;aiml version=&#8220;2.0&#8221;&gt;
&#32;&#32;&#32;&#32;&lt;category&gt;
&#32;&#32;&#32;&#32;&#32;&#32;&lt;pattern&gt;Hello&lt;&#47;pattern&gt;
&#32;&#32;&#32;&#32;&#32;&#32;&lt;template&gt;Hi, user!&lt;&#47;template&gt;
&#32;&#32;&#32;&#32;&lt;&#47;category&gt;
&#32;&#32;&#32;&#32;&lt;category&gt;
&#32;&#32;&#32;&#32;&#32;&#32;&lt;pattern&gt;Who are you&lt;&#47;pattern&gt;
&#32;&#32;&#32;&#32;&#32;&#32;&lt;template&gt;I am Alpha&lt;&#47;template&gt;
&#32;&#32;&#32;&#32;&lt;&#47;category&gt;
&#32;&#32;&lt;&#47;aiml&gt;
&lt;&#47;&#63;xml&gt;</code></pre>
          <p class="w3-text-grey">
            Let me explain to you how this works. The first line 
            (where <em>XML</em> version and codification is specified) is known as <em>prolog</em>, 
            this line indicates the browser that is a standarized XML file.
            Then there is the &lt;aiml&gt; tag, this tag is <em>inside</em> the <em>prolog</em>;
            this is what developers call &#8220;nesting&#8221;, that means the <em>prolog</em> is the
            <em>parent</em> tag of the aiml one. At next it comes the &lt;category&gt; tag,
            a category is a question-answer relationship, being the &lt;pattern&gt; tag
            the user's question and the &lt;template&gt; Alpha's answer.
          </p>
          
          <h4>
            <a class="w3-hover-text-blue w3-text-teal" href="https://pablo-ivan.github.io/Diplomacy/en">
              Diplomacy
            </a>
          </h4>
          <p class="w3-text-grey">
            Diplomacy is a project that comes with the need for a product for a school activity 
            related to marketing. The full team is constituted by Aldo G. Cabrera Aguilera (Design), 
            Erick Mauricio M. Valdez (Market Research), Elioth Fernando R. Rodriguez (Advertising), 
            <span data-ng-bind="$storage.nombre.toLowerCase().capitalize() || 'you'"></span> (End User) 
            and naturally, me, Pablo Ivan G. Soto (Development). It is aimed at high school students, 
            enabling them to practice the subjects they choose. By integrating it with Alpha System, 
            the application becomes a huge data base, as the user has the ability to perform any questions 
            regarding a subject of study. It will also feature a second version, which is the "Teachers version". 
            In this version teachers can monitor student accounts and distribute their exercises.
          </p>
          
          <h4>
            <a class="w3-hover-text-blue w3-text-teal" href="https://pablo-ivan.github.io/Predictive-Game/en">
              Pong
            </a>
          </h4>
          <p class="w3-text-grey">
            Pong, the famous Atari game. I've redesigned to be fully compatible with HTML5 technologies. 
            The mechanics are the same, unlike here the opponent is invincible. 
            I wrote the game inside a canvas tag, which is proper to draw a canvas on a HTML website. 
            For the adversary to predict the movements of the ball, 
            it runs a geometric algorithm that uses the Cartesian method to find the correct coordinates. 
            Of course at some point it may lose only for one thing: the speed of the ball. 
            At any time the ball will move faster than Alpha and this will make him lose...if you haven't, of course. 
            As its developer, I have beaten my game only once, and was due to an error in the AI.
          </p>
          
          <h4>
            <a class="w3-hover-text-blue w3-text-teal" href="https://pablo-ivan.github.io/Recursive-Game/en">
              Toe
            </a>
          </h4>
          <p class="w3-text-grey">
            This classic game 'Tic Tac Toe' was my first project that integrates HTML, CSS and JavaScript. 
            Just like in Pong, the user will have an invincible opponent. 
            Its operations are based on an algorithm called Minimax game theory; 
            It is so called by the Minimum possibility the player wins and the Maximum possibility the computer wins. 
            I must confess that despite having programmed the game, I've never been able to beat him. 
            <span data-ng-bind="$storage.nombre.toLowerCase().capitalize() || 'User'"></span>,
            are you capable of winning. Note: Toe is being redesigned to complement the styles of the website.
          </p>
          
          <hr>
          
          <h4>
            <a class="w3-hover-text-blue w3-text-teal" href="https://pablo-ivan.github.io/Sudoku/en">
              PS-Doku
            </a>
          </h4>
          <p class="w3-text-grey">
            This is a secondary project, that's why it is not included in the navigation bar.
            PS-Doku is a system designed to solve Sudokus. If you want me to write a tutorial
            about this project, leave a comment. Its source code is available on GitHub.
            Stay tuned!
          </p>
          
        </div>
      </div>
    </div>
    <!--end portfolio-->
    
    <!--modal-->
    <div id="chat-modal" class="w3-modal">
      <div class="w3-animate-zoom w3-card-2 w3-modal-content">
        <header class="w3-center w3-container w3-teal">
          <span onclick="document.getElementById('chat-modal').style.display='none'" class="w3-closebtn">&times;</span>
          <h2>Chat</h2>
        </header>
        <div class="w3-container">
          <p class="w3-justify">
            You have not completed all the fields or you have entered an invalid value, be sure to check the fields.
            Maybe you didn't write your age.
            Interesting Fact: This chat was originally designed for the purpose of being a mini application for the user.
            However, it grew to become a powerful tool to get the visitors opinions.
            Now any developer can use this functionality in their own website. You can proceed!
          </p>
        </div>
        <footer class="w3-container w3-teal">
          <p class="w3-center">Pablo Ivan G. Soto</p>
        </footer>
      </div>
    </div>
    <!--end modal-->
    
    <!--chat-->
    <div class="w3-container w3-light-grey w3-padding-64 w3-row-padding">
      <div class="w3-content">
        <div class="w3-two">
          <h2 class="w3-blue w3-border-teal w3-center w3-leftbar w3-rightbar">Comments</h2>
          <p class="w3-text-grey">
            Have any questions? Just want to say hello? You can use the form below to leave a public message.
            Your data is <em>safe</em> and won't be used for any other purpose than being able to reply.
            Although your email is optional, if you decide to write it, make sure it is a valid address.
            Press 'Submit' when your message is ready to be...submitted.
          </p>
          
          <input class="w3-border-blue w3-center w3-input w3-round w3-text-teal" data-ng-model="$storage.nombre" 
                id="chat-name-input" maxlength="15" placeholder="Your First Name">
          <input class="w3-border-blue w3-center w3-input w3-round w3-text-teal" data-ng-model="$storage.correo" 
                id="chat-mail-input" maxlength="50" placeholder="Your Email (Optional)" type="email">
          <textarea class="w3-border-blue w3-center w3-input w3-padding-xlarge w3-text-teal"
                id="chat-message-input" maxlength="512" placeholder="Your Comment"></textarea>
          <button class="w3-btn-block w3-padding-large w3-round w3-teal" onclick="submit()">
            Submit
          </button>
          
          <div class="w3-card w3-justify w3-margin-top w3-white" id="messages-div">
            <div>
              <strong class="w3-text-blue">The Big Bang - $PABLO:</strong> Your comments will appear here. 
              If you wish to contact me directly, be it for a note or even to hire me (that would be great!), 
              make sure to write your email above and leave a reply, of course you can visit my GitHub or Facebook profile. 
              I'll contact you as soon as possible.
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <!--end chat-->
    
    <!--footer-->
    <footer class="w3-center w3-container w3-padding-16 w3-teal">
      <a href="https://github.com/Pablo-Ivan/" target="blank">
        <i class="fa fa-github w3-hover-text-light-blue w3-show-inline-block w3-xlarge"></i>
      </a>
      <a href="https://www.facebook.com/Pablo.Ivan.G.Soto" target="blank">
        <i class="fa fa-facebook w3-hover-text-light-blue w3-show-inline-block w3-xlarge"></i>
      </a>
      <p class="w3-center">
        © 2015-2016. Pablo Ivan G. Soto. <br>
        Last modified: July 30, 2016.
      </p>
    </footer>
    <!--end footer-->
    
    <!--scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.2.1/firebase.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    
    <script src="javascripts/angular-app.js"></script>
    <script>
      function toogle() {
        document.getElementById('mobile').classList.toggle('w3-show');
      }

      var config = {
        apiKey: 'AIzaSyB31ARtbR4z766Tq5sChlRKfLKEcJYNF30',
        authDomain: 'alphatalken.firebaseapp.com',
        databaseURL: 'https://alphatalken.firebaseio.com',
        storageBucket: 'alphatalken.appspot.com'
      };

      firebase.initializeApp(config);
      var myDataRef = firebase.database().ref();

      var submit = function() {
        var name = $('#chat-name-input').val().toUpperCase();
        var age = $('#age-input').val();
        var email = $('#chat-mail-input').val();
        var message = $('#chat-message-input').val();
  
        if (name === '$PABLO' && email !== 'pabloivangomezsoto@gmail.com') {
          return null;
        } else if (name === '' || age === '' || message === '') {
          var modal = function() {
            document.getElementById('chat-modal').style.display='block';
            console.log('Some fields are missing.');
          }
          modal();
          return null;
        } else {
          console.log('Comment sent!');
        }
  
        var now = new Date().toString();
        var formatDay = now.substring(8, 10);
        var formatMonth = now.substring(4, 7);
        var formatYear = now.substring(11, 15);
        var formatTime = now.substring(16, 21);
        var finalDate = `${formatDay}/${formatMonth}/${formatYear} (${formatTime})`;
  
        myDataRef.push({
          date: finalDate,
          name: name,
          age: age,
          email: email,
          text: message
        });
        $('#chat-message-input').val('');
      }

      myDataRef.on('child_added', function(snapshot) {
        var comment = snapshot.val();
        showMessage(comment.date, comment.text, comment.name);
      });

      var showMessage = function(date, message, name) {
        $('<div/>').text(message).prepend($('<strong class="w3-text-blue"/>').text(date + ' - ' + name + ': ')).appendTo($('#messages-div'));
        $('#messages-div')[0].scrollTop = $('#messages-div')[0].scrollHeight;
      }
    </script>
    <!--end scripts-->
    <noscript>
      The website you are on requires JavaScript, please turn it on.
    </noscript>
  </body>
</html>
