<!DOCTYPE html>
<!--Estable-->
<html data-ng-app="principal" lang="en-US">
	<head>
		<meta charset="utf-8">
		<link href="images/logo.jpg" rel="icon">
		<title>Pablo Ivan G. Soto</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="A website for Programming">
		<link rel="stylesheet" href="stylesheets/w3.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
		<script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-67193166-1', 'auto');
      ga('send', 'pageview');
    </script>
		<style>
			body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
			.w3-navbar,h1,button {font-family: "Montserrat", sans-serif}
			.fa-anchor,.fa-coffee {font-size:200px}
			p {
				text-align: justify;
			}
			#messagesDiv {
				max-height: 350px;
				overflow: auto;
			}
		</style>
	</head>
	<body>
		<!-- Navbar -->
		<ul class="w3-navbar w3-teal w3-card-2 w3-top w3-left-align w3-large">
  		<li class="w3-hide-medium w3-hide-large w3-opennav w3-right">
    		<a class="w3-padding-large w3-hover-white w3-large w3-teal" href="javascript:void(0);" onclick="toogle()">&#9776;</a>
  		</li>
  		<li>
				<a href="#" class="w3-padding-large w3-white">Main</a>
			</li>
  		<li class="w3-hide-small">
				<a href="http://pablo-ivan.github.io/Alpha-System/en" class="w3-padding-large w3-hover-white">Alpha</a>
			</li>
  		<li class="w3-hide-small">
				<a href="https://pablo-ivan.github.io/Predictive-Game/en" class="w3-padding-large w3-hover-white"> Pong</a>
			</li>
  		<li class="w3-hide-small">
				<a href="https://pablo-ivan.github.io/Recursive-Game/en" class="w3-padding-large w3-hover-white">Toe</a>
			</li>
  		<li class="w3-hide-small"><a href="https://pablo-ivan.github.io/Diplomacy/en" class="w3-padding-large w3-hover-white">Diplomacy</a>
			</li>
		</ul>

		<!-- Navbar on small screens -->
		<div id="demo" class="w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:51px">
  		<ul class="w3-navbar w3-left-align w3-large w3-teal">
    	<li><a class="w3-padding-large" href="http://pablo-ivan.github.io/Alpha-System/en">Alpha</a></li>
    	<li><a class="w3-padding-large" href="https://pablo-ivan.github.io/Predictive-Game/en">Pong</a></li>
    	<li><a class="w3-padding-large" href="https://pablo-ivan.github.io/Recursive-Game/en">Toe</a></li>
    	<li><a class="w3-padding-large" href="https://pablo-ivan.github.io/Diplomacy/en">Diplomacy</a></li>
  	</ul>
		</div>

		<!-- Header -->
		<div class="w3-container w3-blue w3-center w3-padding-64">
  		<div class="w3-padding-64">
    		<h1 class="w3-margin w3-jumbo">Pablo Ivan G. Soto</h1>
    		<p class="w3-xlarge w3-center">Programming Website</p>
    		<a href="https://pablo-ivan.github.io/">
    			<button class="w3-btn w3-white w3-padding-xlarge w3-large w3-margin-top w3-hover-cyan">Español</button>
    		</a>
				<a href="#">
					<button class="w3-btn w3-white w3-padding-xlarge w3-large w3-margin-top w3-hover-cyan">English</button>
				</a>
  		</div>
		</div>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-one">
			<input class="w3-input w3-center" data-ng-model="$storage.nombre" id="space1" maxlength="15" placeholder="Your Name" title="First Name" type="text">
      <input class="w3-input w3-center" data-ng-model="$storage.edad" id="space2" maxlength="3" placeholder="Your age" title="Age" type="text">
      <h2>Acerca de</h2>
      <p class="w3-text-grey">
				Be welcomed to my website, 
        <span class="ng-binding" data-ng-bind="$storage.nombre.toLowerCase().capitalize() || 'user'"></span>. 
        This is a place to open-source my programs. You are free to use them for non-comercial purposes.
        <span class="ng-binding" data-ng-bind="$storage.nombre.toLowerCase().capitalize() || 'User'"></span>, 
        did you noticed anything special? As you were writing your name, the website was updating itself.  
        Now I know your name, which has 
        <span class="ng-binding" data-ng-bind="$storage.nombre.length || 'x'"></span> letters, you are 
        <span class="ng-binding" data-ng-bind="$storage.edad || 'so many'"></span> years old, etc. Impressive, huh? 
        I developed the chat function below with Firebase. I have skills like HTML5, CSS3 (not much CSS, actually), 
        JavaScript and quite a few frameworks like AngularJS and jQuery.
        I'm such an avid reader, I am passioned by History, Literature, Math, Physics. 
        I love the Renaissance Art,
        someone who likes hearing to Baroque and Classical Music, my favorite composer is undoubtly Franz Schubert.
        As for Literature, my favorite writers are Dante Alighieri with his <em>Commedia</em> and Miguel de Cervantes 
        with his <em>Novelas Ejemplares</em> and <em>Don Quixote</em>; I also enjoy a good mystery novel.
        Edgar Allan Poe, Agatha Christie and sir Arthur Conan Doyle 
        are great examples. Personal life aside, let's dive on the site's purpose, Programming!
			</p>
    </div>
  </div>
</div>

<!-- Second Grid -->
<h2 class="w3-blue w3-padding w3-center">Portfolio</h2>
<div class="w3-row-padding w3-light-grey w3-padding-32 w3-container">
  <div class="w3-content">
    <div class="w3-two">
      <h4 class="w3-padding">
				<a href="https://pablo-ivan.github.io/Alpha-System/en">Alpha System</a>
			</h4>
      <p class="w3-text-grey">
				Alpha is a neural system written in AIML. It converts human input into a computable process.
        <em>AIML</em> (Artificial Intelligence Markup Language) is an <em>HTML</em> extension, 
        language in which the web is written. Now, what makes Alpha so special is the fact it's able to learn from previous
        conversations. You could ask "Do you like golf?" ans it answers "I understand, but I don't know if I like golf"; next you
        say "You do like golf" and he'll answer "Ok, I will remember I do like golf". So, the next time you ask, Alpha's answer will
        be "Yes, I like golf". Isn't this so perfect and great?
        Here's an example of AIML code:
			</p>
			<pre>
          <code>
&lt;&#63;xml version=&#8220;1.0&#8221; encoding=&#8220;UTF&#8211;8&#8221;&#63;&gt;
&#32;&#32;&lt;aiml version=&#8220;2.0&#8221;&gt;
&#32;&#32;&#32;&#32;&lt;category&gt;
&#32;&#32;&#32;&#32;&#32;&#32;&lt;pattern&gt;Hello&lt;&#47;pattern&gt;
&#32;&#32;&#32;&#32;&#32;&#32;&lt;template&gt;Hi, <span data-ng-bind="$storage.nombre.toLowerCase().capitalize() || 'user'"></span>!&lt;&#47;template&gt;
&#32;&#32;&#32;&#32;&lt;&#47;category&gt;
&#32;&#32;&#32;&#32;&lt;category&gt;
&#32;&#32;&#32;&#32;&#32;&#32;&lt;pattern&gt;Who are you&lt;&#47;pattern&gt;
&#32;&#32;&#32;&#32;&#32;&#32;&lt;template&gt;I am Alpha&lt;&#47;template&gt;
&#32;&#32;&#32;&#32;&lt;&#47;category&gt;
&#32;&#32;&lt;&#47;aiml&gt;
&lt;&#47;&#63;xml&gt;
          </code>
        </pre>
			<p class="w3-text-grey">
				Let me explain to you how this works. The first line (where <em>XML</em> version and codification is specified) 
        is known as <em>prolog</em>, this line indicates the browser that is a standarized XML file. 
        Then there is the &lt;aiml&gt; tag, 
				this tag is <em>inside</em> the <em>prolog</em>; 
        this is what techy guys call &#8220;nesting&#8221;, that means the <em>prolog</em> is the
        <em>father</em> tag of the aiml one. At next it comes the &lt;category&gt; tag, 
        a category is a question-answer relationship, being the &lt;pattern&gt; tag
        the user's question and the &lt;template&gt; Alpha's answer.
			</p>
			<h4 class="w3-padding">
				<a href="https://pablo-ivan.github.io/Diplomacy/en">Diplomacy</a>
			</h4>
			<p class="w3-text-grey">
				Diploma.cy is a project made upon a marketing homework. 
        I wrote the app logic, while Aldo Cabrera is in charge of the design. 
        It is oriented to junior high school students. 
        There will also be a second edition, which is the "teachers' version", 
        on it, they will be capable of monitoring their students. 
        The app stills in beta, we hope to launch it in a few months for free.
			</p>
			<h4 class="w3-padding">
				<a href="https://pablo-ivan.github.io/Predictive-Game/en">Pong</a>
			</h4>
			<p class="w3-text-grey">
				Pong, the famous Atari game, has been redesigned to be fully compatible with HTML5 technologies. 
        I wrote the game with a &lt;canvas&gt; element, used in HTML for drawing drawable webpage sections. 
        Alpha executes a cartesian algorithm to be able to predict the ball's movements.
        Of course it can loose the game.
        Anytime in the game, the ball will be faster than the bars, so it'll loose...unless you have lost before.
        Let's play!
			</p>
			<h4 class="w3-padding">
				<a href="https://pablo-ivan.github.io/Recursive-Game/en">Toe</a>
			</h4>
			<p class="w3-text-grey">
				This classic 'Tic Tac Toe' was my first HTML, CSS and JavaScript project.
        The same as in Pong, the user will have an unbeatable opponent. 
        Its internal work is based on the <em>Minimax</em> algorithm. 
        I must also confess...although I'm its programmer, I've never been capable of beating my game.
        ¿<span data-ng-bind="$storage.nombre.toLowerCase().capitalize() || 'Usuario'"></span>, are you ready to win?
			</p>
    </div>
  </div>
</div>
		
		<div class="w3-row-padding w3-white w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-two">
      <h2>Support</h2>
      <p class="w3-text-grey">
				Have any questions? Want to say hello? You can use the form below to leave a public message. 
        Press Send when your message is ready to be...well, sent.
			</p>
			<input class="w3-input w3-center" data-ng-model="$storage.nombre" id='nameInput' maxlength="15" placeholder='Your first name' type='text'> 
        <input class="w3-input w3-center" data-ng-model="$storage.correo" id="spaceE" maxlength="64" placeholder="Your email" type="email">
        <input class="w3-input w3-center w3-padding-xlarge" id="messageInput" maxlength="210" placeholder="Your message"></input> 
        <button class=" w3-teal w3-btn-block w3-padding-large" onclick="publicar()">Send</button>
        <div id='messagesDiv' class="w3-card-2 w3-margin-top">
          <div>
            <strong>Origin of Time - $PABLO:</strong> Welcome to my website. I've designed the whole page. 
            If you wish to contact me directly, be it for a general comment or even to hire me(great!), 
            here it is: 
            <a href="mailto:pabloivangomezsoto@outlook.com?subject=Contact&body=Full%20Name%3A%0AMotive%3A">
              pabloivangomezsoto@outlook.com
            </a>
          </div>
        </div>
    </div>
  </div>
</div>
<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-center w3-opacity">
	<a href="https://github.com/Pablo-Ivan/" target="blank">
		<i class="w3-hover-text-black w3-xlarge fa fa-github w3-show-inline-block"></i>
	</a>
	<a href="https://www.facebook.com/Pablo.Ivan.G.Soto" target="blank">
		<i class="w3-hover-text-blue w3-xlarge fa fa-facebook-official w3-show-inline-block"></i>
	</a>
	<p class="w3-center">&#169; 2015-2016. Pablo Ivan G. Soto. Last modified: April 7th, 2016.</p>
</footer>
		<script async src="javascripts/https.js" type="text/javascript"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
    <script src="javascripts/app.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
		<script>
			function toogle() {
 				document.getElementById("demo").classList.toggle("w3-show");
			}
      var myDataRef = new Firebase('https://alphatalken.firebaseio.com');
      var publicar = function() {
        var name = $('#nameInput').val().toUpperCase();
        var age = $('#space2').val();
        var mail = $('#spaceE').val();
        var text = $('#messageInput').val();
        if (name === "$PABLO" && mail !== "pabloivangomezsoto@gmail.com") {
          name = "USER";
        } else if (name === "") {
          name = "ANONYMOUS";
          text = "Comment";
        } else if (text === "") {
          name = "USER";
          text = "No comments";
        } else {
          console.log("This should appear normally.");
        }
        var now = new Date().toString();
        var formatDay = now.substring(8, 10);
        var formatMonth = now.substring(4, 7);
        var formatYear = now.substring(11, 15);
        var formatTime = now.substring(16, 21);
        var date = "(" + formatTime + ") " + formatDay + "/" + formatMonth + "/" + formatYear;
        myDataRef.push({
          date: date,
          name: name,
          age: age,
          email: mail,
          text: text
        });
        $('#messageInput').val('');
      }
      myDataRef.on('child_added', function(snapshot) {
        var message = snapshot.val();
        displayChatMessage(message.date, message.name, message.text);
      });
      function displayChatMessage(date, name, text) {
        $('<div/>').text(text).prepend($('<strong/>').text(date + " - " + name + ': ')).appendTo($('#messagesDiv'));
        $('#messagesDiv')[0].scrollTop = $('#messagesDiv')[0].scrollHeight;
      };
    </script>
  	<noscript>
      <p>La página que está viendo requiere el uso de JavaScript para su funcionamiento. Por favor, actívelo.</p>
    </noscript>
	</body>
</html>
