<!DOCTYPE html>
<!--Estable y Válido. 2016.-->
<html data-ng-app="principal" data-ng-controller="MainCtrl" lang="es-MX">
<head>
  <meta charset="utf-8">
  <link href="pablo.jpg" rel="icon">
  <title>Pablo Iván G. Soto</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="description" content="Un sitio web para exponer los proyectos de desarrollo web de Pablo Iván G. Soto.">
  <meta name="keywords" content="programming, Pablo Ivan G. Soto">
  <link rel="stylesheet" href="stylesheets/w3.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-67193166-1', 'auto');
    ga('send', 'pageview');
  </script>
  <style>
  	 body, h2, h3, h4, h5, h6 {
      font-family: "Lato", sans-serif;
    }
    .w3-navbar, h1, button {
      font-family: "Montserrat", sans-serif;
    }
  </style>
</head>
<body>
	<!--navbar-->
	<ul class="w3-navbar w3-teal w3-card-4 w3-top w3-left-align w3-large">
		<li class="w3-hide-medium w3-hide-large w3-opennav w3-right">
			<a class="w3-padding-large w3-hover-white w3-large w3-teal" href="javascript:void(0);" onclick="toogle()">
				<i class="fa fa-bars"></i>
			</a>
		</li>
   	<li>
      <a href="javascript:void(0);" class="w3-padding-large w3-white"><i class="fa fa-home"></i></a>
    </li>
    <li class="w3-hide-small">
      <a href="http://pablo-ivan.github.io/Alpha-System/" class="w3-padding-large w3-hover-white">Alpha</a>
    </li>
    <li class="w3-hide-small">
      <a href="https://pablo-ivan.github.io/Predictive-Game/" class="w3-padding-large w3-hover-white">Pong</a>
    </li>
    <li class="w3-hide-small">
      <a href="https://pablo-ivan.github.io/Recursive-Game/" class="w3-padding-large w3-hover-white">Toe</a>
    </li>
    <li class="w3-hide-small">
    	<a href="https://pablo-ivan.github.io/Diplomacy/" class="w3-padding-large w3-hover-white">Diplomacy</a>
    </li>
  </ul>
  
  <div id="demo" class="w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:51px">
    <ul class="w3-navbar w3-left-align w3-large w3-teal">
      <li>
      	<a class="w3-padding-large" href="http://pablo-ivan.github.io/Alpha-System/">Alpha</a>
      </li>
      <li>
      	<a class="w3-padding-large" href="https://pablo-ivan.github.io/Predictive-Game/">Pong</a>
      </li>
      <li>
      	<a class="w3-padding-large" href="https://pablo-ivan.github.io/Recursive-Game/">Toe</a>
      </li>
      <li>
      	<a class="w3-padding-large" href="https://pablo-ivan.github.io/Diplomacy/">Diplomacy</a>
      </li>
    </ul>
  </div>
  <!-- Header -->
  <div class="w3-container w3-blue w3-center w3-padding-64">
    <div class="w3-padding-64">
      <h1 class="w3-margin w3-jumbo">Pablo Iván G. Soto</h1>
      <img class="w3-round w3-card-4 w3-hide-small" src="pablo.jpg" width="170px" height="160px" alt="Fotografía de Pablo Iván">
      <p class="w3-xlarge w3-center">Sitio Web de <br> Programación</p>
			<a href="javascript:void(0);">
				<button class="w3-btn w3-ripple w3-white w3-bottombar w3-border-teal w3-leftbar w3-padding-xlarge w3-large w3-margin-top w3-hover-cyan">
					Español
				</button>
			</a>
			<a href="en">
				<button class="w3-btn w3-white w3-bottombar w3-border-teal w3-leftbar w3-padding-xlarge w3-large w3-margin-top w3-hover-cyan">
					English
				</button>
			</a>
    </div>
  </div>

  <!-- First Grid -->
  <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
    <div class="w3-content">
      <div class="w3-one">
        <h2 class="w3-blue w3-leftbar w3-rightbar w3-border-teal w3-center">Acerca</h2>
        <input class="w3-input w3-border-blue w3-round w3-center w3-text-teal" data-ng-model="$storage.nombre" id="space1" maxlength="15" placeholder="Su Primer Nombre">
        <input class="w3-input w3-border-blue w3-round w3-center w3-text-teal" data-ng-model="$storage.edad" id="space2" maxlength="3" placeholder="Su Edad">
        <p class="w3-text-grey">
          Bienvenido(a) a mi sitio web,
          <span class="ng-binding" data-ng-bind="$storage.nombre.toLowerCase().capitalize() || 'usuario'"></span>. 
          Este es un lugar para hacer muestra de mis programas. 
          Dejo a su disposición mis proyectos de desarrollo web.
          <span class="ng-binding" data-ng-bind="$storage.nombre.toLowerCase().capitalize() || 'Usuario'"></span>, 
          ¿ha notado que conforme escribía su nombre, la página se actualizaba? ¿Impresionante, no? 
          La función de chat hasta abajo la he desarrollado con Firebase. 
          En caso de que no resultase aparente, mi nombre es Pablo Iván G. Soto, tengo 14 años. 
          Soy experimentado en tecnologías como HTML5, CSS3, JavaScript y algunos frameworks 
          como AngularJS, estoy aprendiendo a trabajar con 'Web Components'.
          Soy un ávido lector, me apasiona la Historia, la Literatura y las Matemáticas. 
          Me encanta el Arte Renacentista, soy un seguidor de la Música Barroca y Clasicista, 
          mi compositor favorito es indudablemente Schubert. En cuanto a la literatura, 
          mis autores favoritos son Dante Alighieri con su <em>Commedia</em> y 
          Miguel de Cervantes con sus <em>Novelas Ejemplares</em> y <em>Don Quijote</em>; 
          por su parte en cuanto a Literatura moderna, disfruto de una buena novela de género policial o de misterio. 
          Edgar Allan Poe, Agatha Christie y sir Arthur Conan Doyle son grandes ejemplos. 
          Dejemos mi biografía y pasemos al propósito del sitio ¡La programación!
        </p>
        <p class="w3-text-grey">
        	<div class="w3-center">
        		<!--<img class="w3-round w3-margin w3-card-4" src="sara.jpg" width="200px" height="160px">
        		<img class="w3-round w3-margin w3-card-4" src="yeyi.jpg" width="200px" height="160px">-->
        		<img class="w3-round w3-margin w3-card-4" src="juan.jpg" width="200px" height="160px">
        		<img class="w3-round w3-margin w3-card-4" src="lupiz.jpg" width="200px" height="160px">
        		<img class="w3-round w3-margin w3-card-4" src="lupiz1.jpg" width="200px" height="160px">
        		<img class="w3-round w3-margin w3-card-4" src="anel.jpg" width="200px" height="160px">
        		<img class="w3-round w3-margin w3-card-4" src="celeste.jpg" width="200px" height="160px">
						<img class="w3-round w3-margin w3-card-4" src="annayxime.jpg" width="200px" height="160px">
						<img class="w3-round w3-margin w3-card-4" src="amanda.jpg" width="200px" height="160px">
						<img class="w3-round w3-margin w3-card-4" src="vane.jpg" width="200px" height="160px">
					</div>
					
        	301. Aquel grupo lleno de personas creativas y un tanto locas. Personas generosas, amables, personas únicas. 
        	Para cerrar con broche de oro, aquí va el señor Pablo. 
        	A algunos los conozco desde hace 5 años, otros tantos desde hace 3, y algunos quienes desde hace un año. 
        	La fecha no importa, el aprecio que les tengo es invaluable a todos ustedes. Ahora tengamos algunos recuerdos...
        	<br>
        	<ul class="w3-ul w3-text-grey w3-justify">
						<li>
							<em>Juan</em>, el primero que me habló. 
							Llegué un viernes, el día del amigo a ver la escuela, el mismo día que Annabel y tú llegaste y de la nada me dijiste 
							"hola, cómo estás?" Entonces entré en 5to, pasaron los años, y ahora en tercero tuvimos a "Juanito alias Mr Buda". 
							Sin lugar a dudas, un amigo colosal. Pese a lo que muchos pudieran decirle en un futuro, 
							sé que no se rendirá hasta cumplir todas sus metas.
						</li>
						<li>
							<em>Aldo</em>, el señor Aldo...no hay persona más singular que el señor Aldo. 
							Cuando en 4to dije "sé jugar quemados" y Aldo "oh, ganaremos porque tenemos a alguien que juega quemados". 
							La semana Pablorina, hay tanto que recordar...como tú bien dijiste "esta obra de 5 años aún no ha terminado".
						</li>
						<li>
							<em>Xiadani</em>, otro Capricornio, alguien bastante madura y humilde. 
							Las pláticas que tuvimos los viernes. En verdad eres grande, Xiadani. Espero que tengas un éxito tremendo en tu vida.
						</li>
						<li>
							<em>Karen</em>, bastante callada, con una personalidad peculiar. Debo decir que he confiado en ti inmensamente
							y nunca me has decepcionado, suerte.
						</li>
						<li>
							<em>Miguel</em>, eres una persona con un gran corazón, quizá no compartamos los mismos gustos musicales, pero siempre
							estuviste dispuesto a escuchar una buena "plática de Pablo".
						</li>
						<li>
							<em>Ale</em>, y pensar que nuestra amistad inició cuando me pediste ayuda a desbloquear un celular, curioso. En verdad
							eres una persona increíble y muy inteligente.
						</li>
						<li>
							<em>Ian</em>, eres una persona noble, aunque quieras encajar, hay ciertos grupos que no son para ti. 
							Tú eres alguien en verdad leal y amable. Recuerda estas palabras para el futuro. 
						</li>
						<li>
							<em>Mariana</em>, entraste en 1ro de secundaria, no te hablaba mucho, 
							pero con el tiempo fui encariñándome por tu nobleza, señorita Ana Mari, jajaja. Veo en ti mucha inocencia, 
							eso es bueno.
						</li>
						<li>
							<em>Óscar</em>, llegaste este año, pero debo decirte que eres brillante, 
							a tí te veré el próximo año, guardaré el buen discurso para la salida de preparatoria. Eres alguien educado (con quien
							necesitas serlo) y, por supuesto, alguien responsable.
						</li>
						<li>
							<em>Lupita</em>, la niña de la gran inocencia, esa cualidad en ti es perfecta Lupita, 
							ganarás muchas amistades donde quiera que vayas. Cuídate. Cinco años teniendo a "Lupiz Schmidt", grandes años.
						</li>
						<li>
							<em>Braulio</em>, creo que tenemos una partida de ajedrez pendiente. Eres más que brillante (me preocupa ser destronado)
							pero algunas veces pierdes enfoque, mantén esa visión hacia el futuro.
						</li>
						<li>
							<em>Celeste</em>, la pianista intelectual. En 1ro no te hablé mucho, 
							pero en segundo tuve la fortuna de estar en el mismo grupo que tú, gracias por eso. Eres muy formal, propia, educada,
							disciplinada...en fin. Celes, gracias por escuchar todas esas pláticas y por intentar resolver el misterio 3301.
						</li>
						<li>
							<em>Anel , Annabel, Xime y Amanda</em>, mis amigas originales, de no ser por inglés, 
							probablemente no hubiera hablado tanto con ustedes. Cuarteto de mentes creativas. Anna, el viernes
							que estábamos en las confesiones y Juan dijo "¿y ya no te gusta Annabel?" me quedé como 
							"¡Rayos, me iba a llevar eso a la tumba!". Las quiero a las cuatro.
						</li>
						<li>
							<em>Patricio</em>, el señor Patrick, aquel que no ha dejado de alimentar mi ego desde 1ro de secundaria, 
							una gran amistad la que he encontrado en él. Desde Lovecraft hasta Poe, perfecto.
						</li>
						<li>
							<em>Vane</em>, entró este año, como ella se describe con "un corazón de pollo", 
							alguien bondadosa y bastante inteligente. Y no olvidemos aquellos métodos que me enseñaste para multiplicar y dividir.
						</li>
						<li>
							<em>Jaqueline</em>, más que una vendedora de dulces (espero no inicies tu imperio en la preparatoria, jajaj), 
							una amiga risueña y muy afectuosa.
						</li>
					</ul>
				</p>
				<p>
					Tanto que contar y no hay suficientes palabras para ello. Así que, guarden esto, un recuerdo que no se irá. 
					Léanlo ocasionalmente y nunca olviden lo que vivieron aquí, las personas que conocieron, 
					las amistades que crearon permanentemente...A todos ustedes, gracias por ser quienes son...
        </p>
        <h2 class="w3-center">¡Gracias por ser 301!</h2>
      </div>
    </div>
  </div>

  <!-- Second Grid -->
  <div class="w3-row-padding w3-padding-32 w3-container">
    <div class="w3-content">
      <div class="w3-two">
      	<h2 class="w3-blue w3-leftbar w3-rightbar w3-border-teal w3-center">Portafolio</h2>
        <h4>
          <a class="w3-text-teal w3-hover-text-blue" href="https://pablo-ivan.github.io/Alpha-System/">Alpha System</a>
				</h4>
        <p class="w3-text-grey">
          Alpha es un sistema neuronal escrito en AIML. 
          Básicamente asimila el lenguage humano y lo convierte en un comando procesable. 
          El lenguage <em>AIML</em> (Artificial Intelligence Markup Language) es una extensión de <em>HTML</em>, 
          mismo en el que la web está escrita. 
          Se le llama lenguage de marcado debido a que todas las intruccionas van entre etiquetas, 
          diferenciándose de un lenguaje íntegro de programación. Su núcleo se basa en una relación categoría&gt;patrón&gt;respuesta, 
          siendo el patrón lo que el usuario escribe. Las respuestas de Alpha se encuentran en inglés por motivos de accesibilidad. 
          He aquí algunos ejemplos de código en AIML:
        </p>
        <pre class="w3-card-2 w3-code w3-text-blue w3-border-teal w3-leftbar w3-rightbar">
          <code>
&lt;&#63;xml version=&#8220;1.0&#8221; encoding=&#8220;UTF&#8211;8&#8221;&#63;&gt;
&#32;&#32;&lt;aiml version=&#8220;2.0&#8221;&gt;
&#32;&#32;&#32;&#32;&lt;category&gt;
&#32;&#32;&#32;&#32;&#32;&#32;&lt;pattern&gt;Hello&lt;&#47;pattern&gt;
&#32;&#32;&#32;&#32;&#32;&#32;&lt;template&gt;Hi, <span data-ng-bind="$storage.nombre.toLowerCase().capitalize() || 'user'"></span>!&lt;&#47;template&gt;
&#32;&#32;&#32;&#32;&lt;&#47;category&gt;
&#32;&#32;&#32;&#32;&lt;category&gt;
&#32;&#32;&#32;&#32;&#32;&#32;&lt;pattern&gt;Who are you&lt;&#47;pattern&gt;
&#32;&#32;&#32;&#32;&#32;&#32;&lt;template&gt;I am Alpha&lt;&#47;template&gt;
&#32;&#32;&#32;&#32;&lt;&#47;category&gt;
&#32;&#32;&lt;&#47;aiml&gt;
&lt;&#47;&#63;xml&gt;</code></pre>
        <p class="w3-text-grey">
          Le explicaré cómo funciona. La primera línea (en dónde se específica la versión de <em>XML</em> y su codificación) 
          se conoce como <em>prolog</em>, esta línea le indica al navegador que está ante una versión estandarizada 
          (que cumple con las especificaciones originales) de XML. A continuación viene la etiqueta &lt;aiml&gt;, 
          esta etiqueta está <em>dentro</em> del <em>prolog</em>; 
          en términos de programación a esto se le llama &#8220;nesting&#8221; y significa que el <em>prolog</em> es la etiqueta
          <em>padre</em> de la etiqueta aiml. A continuación viene la etiqueta &lt;category&gt;, 
          una categoría es un par pregunta-respuesta, siendo la etiqueta &lt;pattern&gt; 
          lo que el usuario pregunta y &lt;template&gt; lo que el sistema responde.
        </p>
        <h4>
					<a class="w3-text-teal w3-hover-text-blue" href="https://pablo-ivan.github.io/Predictive-Game/">Pong</a>
				</h4>
        <p class="w3-text-grey">
          Pong, el famoso juego de Atari, lo he rediseñado para que sea compatible con tecnologías de HTML5. 
          La mecánica es la misma, a diferencia de que aquí el oponente es invencible. 
          Escribí el juego con un elemento &lt;canvas&gt;, que es propio de HTML para dibujar un lienzo en la página web. 
          Para que el adversario pueda predecir los movimientos de la pelota, 
          ejecuta un algoritmo geométrico que emplea el método cartesiano para encontrar las coordenadas correctas. 
          Claro que en algún punto puede perder sólo por una cosa: la velocidad de la pelota. 
          En cualquier momento la pelota se moverá más rápido que Alpha y este perderá...si antes no ha perdido usted. 
          Como programador, he vencido a mi juego sólo una vez, y fue por un error en la AI.
        </p>
        <h4>
					<a class="w3-text-teal w3-hover-text-blue" href="https://pablo-ivan.github.io/Recursive-Game/">Toe</a>
				</h4>
        <p class="w3-text-grey">
          Este clásico juego 'Tic Tac Toe' fue mi primer proyecto que integra HTML, CSS y JavaScript. 
          Al igual que en Pong, el usuario tendrá a un oponente invencible. 
          Su funcionamiento se basa en un algoritmo de teoría de juegos llamado <em>Minimax</em>; 
          se le llama así por la <em>míni</em>ma posibilidad de que el jugador gane y 
          la <em>máx</em>ima posibilidad de que la computadora gane. Debo confesar que pese a haber programado el juego, 
          nunca he sido capaz de vencerlo
          ¿<span data-ng-bind="$storage.nombre.toLowerCase().capitalize() || 'Usuario'"></span>, está seguro(a) de poder ganar?
          <em>Nota: </em> Toe está siendo rediseñado para complementar los estilos del sitio web.
        </p>
        <h4>
					<a class="w3-text-teal w3-hover-text-blue" href="https://pablo-ivan.github.io/Diplomacy/">Diplomacy</a>
				</h4>
        <p class="w3-text-grey">
          Diplomacy es un proyecto que surge con la necesidad de un producto 
          para una actividad escolar relacionada a la mercadotecnia.
          El equipo completo lo constituimos Aldo G. Cabrera Aguilera (Diseño), 
          Erick Mauricio M. Valdéz (Investigación de Mercado), Elioth Fernando R. Rodríguez (Publicidad), 
          Ingrid Y. Bautista Zúñiga (Experiencia de Usuario), 
          <span data-ng-bind="$storage.nombre.toLowerCase().capitalize() || 'usted'"></span> (Usuario Final)
          y, naturalmente, yo Pablo Iván G. Soto (Desarrollo).
          Está orientada a los estudiantes de secundaria, 
          permitiéndoles practicar las materias que ellos elijan. Al integrarla con Alpha System, la aplicación se convierte 
          en una base de datos colosal, pues el usuario tiene la capacidad de realizar cualquier pregunta 
          relacionada con una materia de estudio. También contará con una segunda versión, que es la "Versión para Profesores", 
          en esta los docentes podrán monitorear las cuentas de los estudiantes y distribuir sus ejercicios. 
        </p>
      </div>
    </div>
  </div>
	<!--third grid-->
  <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
    <div class="w3-content">
      <div class="w3-two">
        <h2 class="w3-blue w3-leftbar w3-rightbar w3-border-teal w3-center">Comentarios</h2>
        <p class="w3-text-grey">
          ¿Tiene alguna pregunta? ¿sólo quiere saludar? Lo invito a utilizar los campos de abajo para dejar un mensaje en la página.
          Sus datos no serán utilizados para otro propósito mas que para poder escribir un mensaje.
          Presione "Enviar" cuando haya finalizado su mensaje.
        </p>
        <!--modal-->
        <div id="id01" class="w3-modal">
					<div class="w3-modal-content w3-animate-zoom w3-card-2">
						<header class="w3-container w3-teal w3-center"> 
      				<span onclick="document.getElementById('id01').style.display='none'" class="w3-closebtn">&times;</span>
      				<h2>Chat</h2>
    				</header>
    				<div class="w3-container">
      				<p class="w3-justify">
        				No ha completado todos los campos o ingresó un dato inválido, asegúrese de revisar los campos.
        				<em>Dato Interesante:</em>
        				Este chat fue originalmente diseñado con el propósito de ser una mini aplicación para el usuario.
        				Sin embargo fue creciendo hasta convertirse en una poderosa herramienta para obtener las opiniones del visitante.
        				Ahora cualquier desarrollador puede utilizar esta funcionalidad en su propio sitio web ¡Puede proceder!
      				</p>
    				</div>
    				<footer class="w3-container w3-teal">
      				<p class="w3-center">Pablo Iván G. Soto</p>
    				</footer>
  				</div>
				</div>
				<!--end modal-->
				
        <input class="w3-input w3-border-blue w3-round w3-center w3-text-teal" data-ng-model="$storage.nombre" id='nameInput' maxlength="15" placeholder='Su Primer Nombre'>
        <input class="w3-input w3-border-blue w3-round w3-center" data-ng-model="$storage.correo" id="spaceE" maxlength="45" placeholder="Su Correo Electrónico" type="email">
        <textarea class="w3-input w3-border-blue w3-round w3-center w3-text-teal w3-padding-xlarge" id="messageInput" maxlength="512" placeholder="Su Comentario"></textarea>
        <button class=" w3-teal w3-round w3-btn-block w3-padding-large" onclick="enviar()">Enviar</button>
        
        <!--Chat-->
        <div id='messagesDiv' class="w3-card w3-white w3-margin-top w3-justify">
         	<div>
            <strong class="w3-text-blue">El Big Bang - $PABLO:</strong> 
            Sus comentarios aparecerán aquí. Si quieren contactarme, así sea para un comentario, 
            para felicitarme o incluso para contratarme (¡sería genial!), asegúrense de escribir su correo electrónico
            en la parte de arriba y dejar un mensaje.
          </div>
        </div>
        <!--end chat-->
        
      </div>
    </div>
  </div>
  <!-- Footer -->
  <footer class="w3-container w3-padding-16 w3-center w3-teal">
    <a href="https://github.com/Pablo-Ivan/" target="blank">
      <i class="w3-hover-text-light-blue w3-xlarge fa fa-github w3-show-inline-block"></i>
    </a>
    <a href="https://www.facebook.com/Pablo.Ivan.G.Soto" target="blank">
      <i class="w3-hover-text-light-blue w3-xlarge fa fa-facebook-official w3-show-inline-block"></i>
    </a>
    <p class="w3-center">© 2015-2016. Pablo Iván G. Soto. <br> Última modificación: 13/Julio/2016.</p>
  </footer>
  <!--JavaScripts-->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script src="javascripts/app.js"></script>
  <script>
  function toogle() {
    document.getElementById("demo").classList.toggle("w3-show");
  }
  var config = {
    apiKey: "AIzaSyAr_gcP4-n9_M5MjXlLrUXI4hjd__v7om4",
    authDomain: "alphatalk.firebaseapp.com",
    databaseURL: "https://alphatalk.firebaseio.com",
    storageBucket: "project-1765476389964612481.appspot.com",
  };
  firebase.initializeApp(config);
  var myDataRef = firebase.database().ref();
  
  var enviar = function() {
    var name = $('#nameInput').val().toUpperCase();
    var age = $('#space2').val();
    var mail = $('#spaceE').val();
    var text = $('#messageInput').val();
    if (name === "$PABLO" && mail !== "pabloivangomezsoto@gmail.com") {
      return null;
    } else if (name === "" || age === "" || text === "" || mail === "" || $('#spaceE').hasClass("ng-invalid")) {
    	var modal = function() {
    		document.getElementById('id01').style.display='block';
    	}
    	modal();
      return null;
    } else {
      console.log("Esto debería aparecer cuando el comentario sea válido, es decir...normalmente.");
    }
    var now = new Date().toString();
    var formatDay = now.substring(8, 10);
    var formatMonth = now.substring(4, 7);
    var formatYear = now.substring(11, 15);
    var formatTime = now.substring(16, 21);
    var date = "(" + formatTime + ") " + formatDay + "/" + formatMonth + "/" + formatYear;
    myDataRef.push({
      date: date,
      name: name,
      age: age,
      email: mail,
      text: text
    });
    $('#messageInput').val('');
  }
  myDataRef.on('child_added', function(snapshot) {
    var message = snapshot.val();
    displayChatMessage(message.date, message.name, message.text);
  });
  function displayChatMessage(date, name, text) {
    $('<div/>').text(text).prepend($('<strong class="w3-text-blue"/>').text(date + " - " + name + ': ')).appendTo($('#messagesDiv'));
    $('#messagesDiv')[0].scrollTop = $('#messagesDiv')[0].scrollHeight;
  };
  </script>
  <noscript>
    <p>La página que está viendo requiere el uso de JavaScript para su funcionamiento. Por favor, actívelo.</p>
  </noscript>
</body>
</html>
