<!DOCTYPE html>
<!--Stable and valid. 12/12/2016.-->
<html data-ng-app="principal" data-ng-controller="MainCtrl" lang="en">
  <head>
    <meta charset="utf-8">
    <link href="../pablo.jpg" rel="icon">
    <title>Blog | Pablo Ivan G. Soto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="A blog to expose Pablo Ivan G. Soto ideas.">
    <link rel="stylesheet" href="../stylesheets/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-67193166-1', 'auto');
    ga('send', 'pageview');
    </script>
    <style>
      body, h2, h3, h4, h5, h6 {
        font-family: "Lato", sans-serif;
      }
      .w3-blue {
        background-color: #2BAFE5!important;
      }
      .w3-border-blue {
        border-color: #2BAFE5!important;
      }
      .w3-navbar, h1, button {
        font-family: "Montserrat", sans-serif;
      }
      .w3-text-blue {
        color: #2BAFE5!important;
      }
    </style>
  </head>
  <body>
    <!--navbar-->
    <ul class="w3-navbar w3-card-4 w3-green w3-top w3-left-align w3-large">
      <li class="w3-hide-medium w3-hide-large w3-opennav w3-right">
        <a class="w3-padding-large w3-green w3-hover-white w3-large" href="javascript:void(0);" onclick="toogle()">
          <i class="fa fa-bars"></i>
        </a>
      </li>
      <li>
        <a class="w3-padding-large w3-hover-white" href="https://pablo-ivan.github.io/en">
          <i class="fa fa-home"></i>
        </a>
      </li>
      <li class="w3-hide-small">
        <a class="w3-padding-large w3-hover-white"href="http://pablo-ivan.github.io/Alpha-System/en">Alpha</a>
      </li>
      <li class="w3-hide-small">
    	  <a class="w3-padding-large w3-hover-white" href="https://pablo-ivan.github.io/Predictive-Game/en">Pong</a>
      </li>
      <li class="w3-hide-small">
        <a class="w3-padding-large w3-hover-white" href="https://pablo-ivan.github.io/Sudoku/en">Sudoku</a>
      </li>
      <li class="w3-hide-small">
        <a class="w3-padding-large w3-hover-white" href="https://pablo-ivan.github.io/Recursive-Game/en">Toe</a>
      </li>
      <li class="w3-hide-small w3-right">
        <a class="w3-padding-large w3-white" href="javascript:void(0);">Blog</a>
      </li>
    </ul>
    
    <div id="mobile" class="w3-hide w3-hide-large w3-hide-medium w3-top w3-card-4" style="margin-top:51px">
      <ul class="w3-green w3-navbar w3-left-align w3-large">
        <li>
      	  <a class="w3-padding-large" href="http://pablo-ivan.github.io/Alpha-System/en">Alpha</a>
        </li>
        <li>
          <a class="w3-padding-large" href="https://pablo-ivan.github.io/Predictive-Game/en">Pong</a>
        </li>
        <li>
      	  <a class="w3-padding-large" href="https://pablo-ivan.github.io/Sudoku/en">Sudoku</a>
        </li>
        <li>
      	  <a class="w3-padding-large" href="https://pablo-ivan.github.io/Recursive-Game/en">Toe</a>
        </li>
        <li>
          <a class="w3-padding-large w3-white" href="javascript:void(0);">Blog</a>
        </li>
      </ul>
    </div>
    <!--end navbar-->
    
    <!--header-->
    <div class="w3-container w3-blue w3-center w3-padding-64">
      <div class="w3-padding-64">
        <h1 class="w3-margin w3-jumbo">Blog</h1>
        <img class="w3-round w3-card-2 w3-hide-small" src="../pablo.jpg" width="170px" height="160px" alt="Pablo Ivan">
        <p class="w3-xlarge w3-center">
          Thoughts and <br>
          Tutorials
        </p>
        
        <a href="es.html">
          <button class="w3-btn w3-white w3-bottombar w3-border-green w3-leftbar w3-padding-xlarge w3-large w3-margin-top w3-hover-cyan">
            Español
          </button>
        </a>
        <a href="javascript:void(0);">
          <button class="w3-btn w3-white w3-bottombar w3-border-green w3-leftbar w3-padding-xlarge w3-ripple w3-large w3-margin-top w3-hover-cyan">
            English
          </button>
        </a>
      </div>
    </div>
    <!--end header-->
    
    <!--first grid-->
    <div class="w3-row-padding w3-white w3-padding-64 w3-container">
      <div class="w3-content">
        <div class="w3-one">
          <h2 class="w3-blue w3-border-green w3-center w3-leftbar w3-rightbar">
            Introduction - December 12, 2016
          </h2>
          <p class="w3-text-grey">
            Introduction. Did I just name my first blog like that?
            Something structured and conventional, so me as you may have noticed
            because of my formal talk. Aren't all blogs like this?
            They talk to you elegantly and in singular to get you identified.
            Un truco antiguo que yo en el blog no usaré (you noticed it? I said <em>the</em> blog, not <em>my</em> blog).
            Ustedes lectores son los protagonistas (sería tonto escribirle a la nada).
            Alright, let's do business. Escribo porque, comenzando, escribir es un hábito fenomenal
            (espero no encontrarme con los hermanos alemanes cuando llegue a la vejez), porque todas esas ideas rondando sin un
            punto de destino pueden ser estructuradas aquí, escribo porque escribo al fin y al cabo. Escribo sobre lo que observo, 
            sobre lo que pienso y sobre lo que haré.
            
            <br><br>
            
            <span data-ng-bind="$storage.nombre.toLowerCase().capitalize() || 'User'"></span>, 
            let's begin with an introduction upon the building of my website.
            Wait... what? Si escribieron su nombre en la página principal este aparece aquí. How's that possible?
            Básicamente creé una referencia a una <em>variable</em> en donde almacené sus nombres,
            luego sencillamente puse la referencia aquí también. It sounds confusing at first, I know (what is a variable?).
            
            <br><br>
            
            Sample text before equations.
            <br><br>
            \(\displaystyle ax+b=c \text{ where } x=\frac{c-b}{a}\)          <br><br>
            \(\sqrt{2} \text{ is an irrational number}\)      <br><br>
            \(\displaystyle\sum_{k=1}^{n} k=\frac{n^2+n}{2}\) <br><br>
            \[\lim_{n \to \infty} \left(1 + {1\over n}\right)^n=e\]
            <pre>[Work in Progress - Translating]</pre>
          </p>
        </div>
      </div>
    </div>
    <!--end first grid-->
    
    <!--modal-->
    <div id="chat-modal" class="w3-modal">
      <div class="w3-animate-zoom w3-card-2 w3-modal-content">
        <header class="w3-center w3-container w3-green">
          <span onclick="document.getElementById('chat-modal').style.display='none'" class="w3-closebtn">&times;</span>
          <h2>Chat</h2>
        </header>
        <div class="w3-container">
          <p class="w3-justify">
            You have not completed all the fields or you have entered an invalid value, be sure to check the fields. 
            Maybe you didn't write your age. <em>Interesting Fact:</em>
            This chat was originally designed for the purpose of being a mini application for the user.
            Now it helps with the blog. Any developer can use this functionality in their own website. You can proceed!
          </p>
        </div>
        <footer class="w3-container w3-green">
          <p class="w3-center">Pablo Ivan G. Soto</p>
        </footer>
      </div>
    </div>
    <!--end modal-->
    
    <!--chat-->
    <div class="w3-container w3-light-grey w3-padding-64 w3-row-padding">
      <div class="w3-content">
        <div class="w3-two">
          <h2 class="w3-blue w3-border-green w3-center w3-leftbar w3-rightbar">Blog Chat</h2>
          <p class="w3-text-grey">
            Any suggestions? Want to request a blog topic? 
            I invite you to use the fields below to leave a message on the blog.
            Your personal information won't be used for any other purposes than to be able to
            write a message Press 'Submit' when you have finished your message.
          </p>
          
          <input class="w3-border-blue w3-center w3-half w3-input w3-leftbar w3-round w3-text-green" data-ng-model="$storage.nombre" 
                id="chat-name-input" maxlength="15" placeholder="Your First Name">
          <input class="w3-border-blue w3-center w3-half w3-input w3-leftbar w3-round w3-text-green" data-ng-model="$storage.edad" 
                id="chat-age-input" maxlength="15" placeholder="Your Age">
          <input class="w3-border-blue w3-center w3-input w3-leftbar w3-round w3-text-green" data-ng-model="$storage.correo" 
                id="chat-mail-input" maxlength="50" placeholder="Your Email (Optional)" type="email">
          <textarea class="w3-border-blue w3-center w3-input w3-leftbar w3-padding-xlarge w3-text-green"
                id="chat-message-input" maxlength="512" placeholder="Your Comment"></textarea>
          <button class="w3-btn-block w3-green w3-padding-large w3-round" onclick="submit()">
            Submit
          </button>
          
          <div class="w3-card w3-justify w3-margin-top w3-white" id="messages-div">
            <div>
              <strong class="w3-text-blue">The Big Bang - $PABLO:</strong>
              Your comments will appear in here. This chat will evolve alongside
              the blog as time passes, even allowing to upload images. Leave here
              your suggestions for future topics or doubts about math.
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <!--end chat-->
    
    <!--footer-->
    <footer class="w3-container w3-padding-16 w3-center w3-green">
      <a href="https://github.com/Pablo-Ivan/" target="blank">
        <i class="w3-hover-text-light-blue w3-xlarge fa fa-github w3-show-inline-block"></i>
      </a>
      <a href="https://www.facebook.com/Pablo.Ivan.G.Soto" target="blank">
        <i class="w3-hover-text-light-blue w3-xlarge fa fa-facebook-official w3-show-inline-block"></i>
      </a>
      <p class="w3-center">© 2015-2016. Pablo Ivan G. Soto.
    </footer>
    <!--end footer-->
    <!--scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.1/firebase.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    
    <script src="../javascripts/angular-app.js"></script>
    <script>
      function toogle() {
        document.getElementById('mobile').classList.toggle('w3-show');
      }
      
      var config = {
        apiKey: "AIzaSyDFWfkG6wKmtCh5teHGk3zWCtj029kFlGU",
        authDomain: "blogtalken.firebaseapp.com",
        databaseURL: "https://blogtalken.firebaseio.com",
        storageBucket: "blogtalken.appspot.com",
      };

      firebase.initializeApp(config);
      var myDataRef = firebase.database().ref();

      var submit = function() {
        var nombre = $('#chat-name-input').val().toUpperCase();
        var edad = $('#chat-age-input').val();
        var correo = $('#chat-mail-input').val();
        var mensaje = $('#chat-message-input').val();
  
        if (nombre === '$PABLO' && correo !== 'pabloivangomezsoto@gmail.com') {
          return null;
        } else if (nombre === '' || edad === '' || mensaje === '' || correo === '') {
          var modal = function() {
            document.getElementById('chat-modal').style.display='block';
            console.log('Algunos campos faltantes.');
          }
          modal();
          return null;
        } else {
          console.log('¡Comentario enviado!');
        }
  
        var now = new Date().toString();
        var formatDay = now.substring(8, 10);
        var formatMonth = now.substring(4, 7);
        var formatYear = now.substring(11, 15);
        var formatTime = now.substring(16, 21);
        var finalDate = `${formatDay}/${formatMonth}/${formatYear} (${formatTime})`;
  
        myDataRef.push({
          date: finalDate,
          name: nombre,
          age: edad,
          email: correo,
          text: mensaje
        });
        $('#chat-message-input').val('');
      }

      myDataRef.on('child_added', function(snapshot) {
        var comentario = snapshot.val();
        mostrarMensaje(comentario.date, comentario.text, comentario.name);
      });

      var mostrarMensaje = function(fecha, mensaje, nombre) {
        $('<div/>').text(mensaje).prepend($('<strong class="w3-text-blue"/>').text(fecha + ' - ' + nombre + ': ')).appendTo($('#messages-div'));
        $('#messages-div')[0].scrollTop = $('#messages-div')[0].scrollHeight;
      }
    </script>
    <!--end scripts-->
  </body>
</html>
